<html>
<head>
<!--
<link rel="stylesheet" type="text/css" href="project.css">
-->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">

<title>Admin Portal</title>
</head>
<body>
<h1>ADMIN PORTAL</h1>
</br>
<form method="POST">
<fieldset>
<center>

<legend>LOGIN</legend>
<img src="./static/images/bmsit_logo.jpg" class="image">
<div class="name">
	 <label>USER NAME</label>
</div>
<div class="entry">
     <input type="text" placeholder="User Name" name="uname" required>
</div>
<div class="name">
     <label>PASSWORD</label>
</div>
<div class="entry">
     <input type="password" placeholder="Password" name="password" required>
</div>
<div class="name2">
	 <input type="submit" value="LOGIN" onclick="check(this.form)">
</div>
<div class="name2">
	 <input type="checkbox" checked="checked">Save Password
</div>
<div class="name2">
	 <span class="fpsw"><a href="#">Forgot Password?</a></span>
</div>
</center>
</fieldset>
</form>
<script language="javascript">
function check(form){
if(form.uname.value=="admin" && form.password.value=="admin"){
	window.open("admin2.html")
}
else{
alert("Invalid Username or Password")
}
}
</script>
</body>
</html>
