<html>
<head>
<!--
<link rel="stylesheet" type="text/css" href="project.css">
-->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">

<title>Time Table Generator</title>
</head>
<style>
body{
background-color:#eeeeee;
}
img{
float:left;
clear:left;
}
</style>
<body>
<fieldset>
<p id="b"><img src="./static/images/bmsit_logo.jpg" style="width:140px;height:140px" alt="BMSIT LOGO" ><b>BMS Institute of Technology & Management</b><br><br>Avallahalli,Doddaballapur Road,Bangalore-64<br><br></p>
<fieldset>
<div style="margin-bottom:10px" id="ab">TIME TABLE GENERATOR</div><br>
<marquee><div style="color:red; font-size:25px"><b>Welcome !!!</b></h2></marquee>

<p id="c"><center><a href="admin1.html" id="button">ADMIN PORTAL</a><a href="hod1.html" id="button">HOD PORTAL</a><a href="student1.html" id="button">STUDENT PORTAL</a></center></p>
<p id="b">Powered by:<b>&nbspCSE Department</b><br><br></p>
</fieldset></fieldset>
</body>
</html> /form>
</body>
</html>
