<html>
<head>
<!--
<link rel="stylesheet" type="text/css" href="project.css">
-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">



<title>Hod Portal</title>
</head>
<body>
<h1>HOD PORTAL</h1>
</br>
<form action="hod2.html" method="POST">
<center>
<img src="./static/images/bmsit_logo.jpg" class="image">
<div class="name">
	 <label>USER NAME</label>
</div>
<div class="entry">
     <input type="text" placeholder="User Name" name="uname" required>
</div>
<div class="name">
     <label>PASSWORD</label>
</div>
<div class="entry">
     <input type="password" placeholder="Password" name="password" required>
</div>
<div class="name2">
	 <input type="submit" value="LOGIN" style="float:center">
</div>
<div class="name2">
	 <input type="checkbox" checked="checked">Save Password
</div>
<div class="name2">
	 <span class="fpsw"><a href="contadmin.html">Forgot Password?</a></span>
</div>
</center>
</form>
</body>
</html>
