body{
	color:blue;
	background-color:#FFF9C4;
}
h1{
	font-size:45px;
	margin-top:25px;
	text-align: center;
}
.image{
	max-height:200px;
	max-width:200px;
	margin-top:10px;
	margin-bottom:20px;
}
div.name{
	margin-bottom:10px;
	font-size:25px;
}
div.entry{
	margin-bottom:20px;
}
div.name2{
	margin-bottom:20px;
}
ul.list{
	margin-left:40px;
	margin-top:40px
}
#button {
	text-decoration:none;
    background-color: #a6d0ff;
    font-family:"arial";
    color: #2a6197;
    padding:55px 65px;
    text-align: center;
    margin:2px;
	display: inline-block;
    font-size: 25px;
    border-radius:15px;
    border-style:solid;
    border-color:#010310;
}
div.name3{
	margin:50px;
	text-align:center;
}
p.name4{
	margin-bottom:20px;
}
div.margin-bottom{
	margin-bottom:25px;
	font-size:24px;
}
div.spacing{
	margin-left:250px;
}
label.margin-right{
	margin-right:40px;
}
#ab{font-size:35px;
margin-top:4px;
padding-top:30px;
margin-right:100px;
text-align:center;
text-indent:100px;
color:#445566;
margin:-30px;
}
#b{text-align:center;
text-indent:5px;
padding:40px;
background-color:#2a6197;
font-size:150%;
margin:3px;
font-weight:bold;
letter-spacing:2px;
word-spacing:5px;
font-family:"arial";
color:#ffeeaa;
}
#c{
margin-top:35px;
margin-left:280px;
}
