<html>
<head>
<link rel="stylesheet" type="text/css" href="project.css">
<script language="javascript" type="text/javascript">
    var branches={
	be:["Select Branch","CSE","ECE","EEE","MECH","TCE","ISE","CIV"],
	mca:["Select Branch"],
	mtech:["Select Branch","CSE","Machine Design"]
	}
	function changecourse(value) {
	if(value.length==0)
	document.getElementById("branch").innerHTML="<option></option>";
	else {
	var catOptions="";
	for(categoryId in branches[value]) {
		catOptions+="<option>"+branches[value][categoryId]+"</option>";
	}
	document.getElementById("branch").innerHTML=catOptions;
	}
	}
</script>
<style>
	body{
	margin:25px;
	}
</style>
</head>
<title>Student Portal</title>
<body>
<h1>STUDENT PORTAL</h1>
<form action="zxc.html" method="get">
<div class="margin-bottom">
<label class="margin-right">ACADEMIC YEAR</label>
<select id="year" name="year">
				 <option value="">Select Year</option>
                 <option value="2016-17">2016-17</option>
                 <option value="2017-18">2017-18</option>
				 <option value="2018-19">2018-19</option>
</select>
</div>
<div id="category_course" class="margin-bottom">
<label class="margin-right">COURSE</label>
<select id="course" name="course" onchange="changecourse(this.value);">
                 <option value="">Select Course</option>
				 <option value="be">BE</option>
				 <option value="mca">MCA</option>
                 <option value="mtech">M.TECH</option>
</select>
</div>
<div class="margin-bottom" id="sub_category_branch">
<label class="margin-right">BRANCH</font></label>
<select id="branch" name="branch" >
	<option value="">Select Branch</option>
</select>
</div>
<div class="margin-bottom" id="sub_category_semester">
<label class="margin-right">SEMESTER</font></label>
<select id="semester" name="semester">
				 <option value="">Select Semester</option>
				 <option value="1">1 SEM</option>
				 <option value="2">2 SEM</option>
				 <option value="3">3 SEM</option>
                 <option value="4">4 SEM</option>
				 <option value="5">5 SEM</option>
				 <option value="6">6 SEM</option>
				 <option value="7">7 SEM</option>
                 <option value="8">8 SEM</option>
</select>
</div>
<div class="margin-bottom">
<label class="margin-right">SECTION</label>
<select id="section" name="section">
				 <option value="">Select Section</option>
                 <option value="A">A section</option>
                 <option value="B">B section</option>
</select>
</div>
<input type="submit" value="Get TimeTable"/></br>
</form>
</body>
</html>