<html>
<head>
<style>
table, td, th {
    border: 1px solid black;
    text-align: center; vertical-align: middle;
    
}

table {
    border-collapse: collapse;
    width:100%

}

th id='q',td id='q' {
    height: 15px;
    width: 10%;
}

th id='p',td id='p'{
     height:40px;
    width:10%;
}
</style>
<script>
function GetURLParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++)
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam)
        {
            return sParameterName[1];
        }
    }
}
var semester = GetURLParameter('semester');
</script>
</head>
<title>zxc</title>
<body>
<div style="display:flex; margin:15px; margin-bottom:20px">
<img src="./static/images/bmsit_logo.jpg" style="max-height:130px; max-width:130px; margin-left:35px; margin-top:18px">
<center>
<div>
<div style="width:1130px; color:red; font-size:25px;margin-left:50px; margin-top:18px"><b>BMS INSTITUTE OF TECHNOLOGY AND MANAGEMENT<br>YELAHANKA-BANGALORE-64<br></b></div>
<div style="color:green; font-size:20px" class="small">DEPARTMENT OF CSE<label id="branch"></label>

<!--
<script>
var branch1 = GetURLParameter('branch');
document.getElementById('branch').innerHTML = branch1;
</script>
-->

<br></div>
<div style="color:green; font-size:20px">CLASS TIME TABLE FOR THE ACADEMIC YEAR 2017-18<label id="year"></label>

<!--
<script>
var year1 = GetURLParameter('year');
document.getElementById('year').innerHTML = year1;
</script>
-->

<br></div>
</div>
</center>
</div>
<div style="display:flex; margin-left:50px">
<div>
<label>SEMESTER : IV</label><label id="semester"></label>

<!-- 
<script>
var semester1 = GetURLParameter('semester');
document.getElementById('semester').innerHTML = semester1;
</script>
-->

</div>
<div style="margin-left:350px">
<label>COURSE : CSE</label><label id="course"></label>

<!--
<script>
var course1 = GetURLParameter('course');
document.getElementById('course').innerHTML = course1;
</script>
-->

</div>
<div style="margin-left:350px">
<label>SECTION : A</label><label id="section"></label>

<!--
<script>
var section1 = GetURLParameter('section');
document.getElementById('section').innerHTML = section1;
</script>
-->

</div>
</div>

<p></p>
<table id='p'>
  <tr>
    <th></th>
    <th>I <br> 08:30-09:30 AM</th>
    <th>II <br> 09:30-10:30 AM</th>
    <th>TEA BREAK <br> 10:30-10:55 AM</th>
    <th>III<br>10:55-11:55 AM</th>
    <th>IV <br> 11:55-12:55 PM</th>
    <th>LUNCH BREAK <br>12:55-1:45PM </th>
    <th>V <br>1:45-2:40 PM </th>
    <th>VI <br> 2:40-3:35 PM</th>
    <th>VII <br> 3:35-4:30 PM</th>
    
  </tr>

{% for row in board %}
    <tr>
	{% for i in row %}
    <td>{{ i }}</td>
   
  
    {% endfor %}
	<br/>
	</tr>
{% endfor %}
</table>

<br><br>
<table id='q'>
  <tr>
    <th>S.NO</th>
    <th>SUBJECT</th>
    <th>SUBJECT CODE</th>
    <th>FACULTY NAME</th>
    <th>HOURS/WEEK</th>
    
  </tr>
  <tr>
    <td>1</td>
   <td>Engineering Mathematics-4 (MAT)</td><td>15MAT41</td><td>Mr. Vijay Kumar Kallur</td><td>4</td>
  </tr>
  <tr>
    <td>2</td><td>Software Engineering (SE)</td><td>15CS42</td><td>Mrs. Vishakha Yadav</td><td>4</td>
  </tr>
  <tr>
    <td>3</td><td>Design and Analysis of Algorithms (DAA)</td><td>15CS43</td><td>Mrs Radhika K. R.</td><td>4</td>
  </tr>
  <tr>
     <td>4</td><td>Microprocessors and Microcontollers (MP)</td><td>15CS44</td><td>Mr. Shankar R</td><td>4</td>
</tr>
<tr>
<td>5</td><td>Object Oriented Concepts (OOC)</td><td>15CS45</td><td>Mrs. Srivani P</td><td>4</td>
</tr>
<tr>
<td>6</td><td>Data Communications (DC)</td><td>15CS46</td><td>Mrs. Mari Kirthima</td><td>4</td>
</tr>
</table>
<br><br>
<div style="display:flex; margin-left:50px">
<div>

Mrs. Radhika K. R.    
</br>
Time table officer 
</div>
<div style="margin-left:400px">


Dr. Thippeswamy G      
</br>
HoD 
</div>
<div style="margin-left:400px">

Dr. Mohan Babu G. N.
</br>
Principal
</div>
</div>
<br><form>
    <input type=button name=print value="Print" onClick="window.print()">
</form>
</body>
</html>